<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
   <!--Bitso-->
    <add key="UrlBitso" value="https://api.bitso.com/v3" />
    <add key="AvailableBooks" value="/available_books/"/>
    <add key="Ticker" value="/ticker/"/>
    <add key="OrderBook" value="/order_book?"/>
    <add key="Trades" value="/trades?"/>
    <add key="Balance" value="/balance"/>
    <add key ="Status" value="/account_status"/>
    <add key="ApiKey" value="C:\Users\Pablo\Desktop\Emiliano\trb_api_key.txt"/>
    <!--Fin-->
</appSettings>
</configuration>